*{
    margin: 0;
    padding: 0;
    background-color: rgb(221, 216, 216);
}
#header{
    position: fixed;
    width: 95%;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header-img{
    width: 200px;
    height: 90px;
    padding-left: 25px;
}
a{
    padding: 0px 50px 0 50px;
    text-decoration: none;
    color: black;
}
#form{
    padding-top: 125px;
    width: 60%;
    margin: auto;
    text-align: center;
}
h1{
    padding-bottom: 10px;
}
.email{
    padding-bottom: 10px;
}
#email{
    padding: 5px;
}
#submit{
    background-color: cadetblue;
    font-size: 1rem;
    padding: 5px;
}
.submit{
    padding-bottom: 25px;
}
#submit:hover{
    background-color: rgb(90, 114, 66);
    cursor: pointer;
}
#features{
    width: 60%;
    margin: auto;
}
.premium{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
}
samp{
    font-size: 1.5rem;
    font-style:oblique;
}
p{
    font-size: 1.3rem;
}
i{
    font-size: 50px;
    padding-right: 100px;
    color: rgb(228, 142, 142);
}
.Fast{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
}
.Quality{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
}
.video{
    display: flex;
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
}
#price{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0 25px 0;
}
.price-box{
    width: 30%;
    padding-bottom: 10px;
    border: 1px solid black;
    text-align: center;
}
h5{
    text-align: center;
    background: rgb(196, 233, 233);
    padding: 5px 0 9px 0;
}
.discription{
    font-size: 1.1rem;
    padding: 10px 0 10px 0;
}
.select{
    background: rgb(126, 126, 119);
    color: white;
    padding: 10px ;
}
.select:hover{
    background: turquoise;
    cursor: pointer;
}
@media screen and (max-width: 700px){
    h1{
        font-size: 1.2rem;
    }
    .premium{
       flex-direction: column;
    }
    .Fast{
        flex-direction: column;
    }
    .Quality{
        flex-direction: column;
    }
    i{
        padding: 0 0 20px 0;
    }
    #price{
        flex-direction: column;
        align-items: center;
        
    }
    .price-box{
        width: 60%;
        border: none;
        padding-top: 35px;
    }
}